/*styles for home content only*/
.custom-style:hover{
	color:#0095D3;
	text-decoration: none;
}

.collapsed.panel-open .custom-style,.collapsed.panel-open .custom-style:focus{
	color:#0095D3;	
	outline: none;
}
